// COLORS
$color01: #7f7caf;
$color02: #ff7f11;
$color03: #b95f89;
$color04: #beb7a4;
$color05: #fffffc;
$color06: #386641;

// UTILS
$primary: $color01;
$secondary: $color02;
$tertiary: $color03;
$input: $color04;
$success: $color06;

// MONOCHROME
$white: $color05;
$black: #000;
